Plugins>Cluster My Data,               "Cluster My Data",            Cluster_My_Data
Plugins>Cluster My Data,               "-"
Plugins>Cluster My Data,               "No Colouring",               gui.no_colouring
Plugins>Cluster My Data,               "K-Means",                    gui.k_means
Plugins>Cluster My Data,               "DBSCAN",                     gui.dbscan
Plugins>Cluster My Data,               "HDBSCAN",                    gui.hdbscan